html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  align-content: center;
}



.normalButton {
  width: 380px
}

.center-aligned{
  width: 30%;
  margin:0 auto;
}

.center-aligned-editor{
  width: 50%;
  margin:0 auto;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}
