html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

.normalButton {
  width: "100px"
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}
