html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  align-content: center;
}



.normalButton {
  width: 305px
}

.mediumButton {
  width: 270px;
}

.smallSizedButton {
  width: 270px;
}
.smallSizedButton span {
  width: 270px;
  font-size: 8pt;
}

.center-aligned{
  width: 30%;
  margin:0 auto;
}

.center-aligned-editor{
  width: 50%;
  margin:0 auto;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 22%;
  grid-template-rows: auto auto auto auto;
  gap: 20px 20px;
}

.grid-container-dialog {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  gap: 10px 10px;
}

.grid-container-half {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  gap: 10px 10px;
}


.grid-container-field {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 30px 10px;
}

.divSpacer {
  padding-bottom:10px;
}